---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Bienvenido a MARJEDA INDUSTRIAL">
  <main
    class="flex flex-col md:items-center md:justify-center w-full h-screen px-4 gap-y-2">
    <h1 class="text-balance text-center text-4xl md:text-6xl lg:text-8xl">
      Suministros optimizados, mantenimiento eficiente.
    </h1>
    <p class="text-balance text-center text-sm md:text-lg lg:text-2xl">
      Optimizamos el flujo de suministros y brindamos respuestas <span
        class="font-bold">eficientes</span
      > para el mantenimiento, tanto planificado como imprevisto, garantizando operaciones
      fluidas y maximizando la productividad.
    </p>
  </main>
</Layout>
