<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © 2018 - {new Date().getFullYear()} MARJEDA INSUSTRIAL. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Powered by <a
      href="https://bigcreator.dev"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      bigcreator.dev
    </a>
  </p>
</footer>
